extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Monika Frankowska
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | I'm a full stack JavaScript Developer wannabe with a great passion for design and architecture.
            | JavaScript is my programming language of choice but I'm also working with more visual side of the projects.
            | I'm living in Poland, if you can't find me in the city I'm somewhere in the mountains with my Partner and my dog Loki.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express framework
          li Sequelize ORM
          li jQuery
          li Object Oriented Programming
          li Working with APIs
          li Git
          li Pug
          li Peer review
        h6 Contact Info

        ul
          li monia.frankowska@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/monika-frankowska-68b8b3147/?locale=en_US' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/monifra' target='_blank') GitHub
        a.button.expanded(href='https://www.instagram.com/monika.frankowska/' target='_blank') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
